<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>

    <h1>Book List</h1>

    <% if (books.length >0) { %>
        <ul>
            <% books.forEach((book) => { %>
                <li><%= book.title %></li>
                <li><%= book.author %></li>
                <li><%= book.description %></li>
                <li><%= book.title %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <h1>no books found</h1>
    <% } %>

    <%- include('includes/end.ejs') %>