<div class="backdrop"></div>

<header class="d-flex justify-content-center py-3">

    <nav class="navbar ">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/shop' ? 'active' : '' %>" href="/main">Shop Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Edit/Delete Items
                </a>
            </li>
        </ul>
    </nav>
</header>