    <%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/nav2.ejs') %>

            <main>
                <div class="w-75 mx-auto">
                    <% if (prods.length > 0) { %>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <% for (let product of prods) { %>
                                <div class="col">
                                    <div class="card card-body text-center">
                                        <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= product.title %></h5>
                                            <h6>$<%= product.price %></h6>     
                                            <p class="card-text"><%= product.description %></p>

                                            <div class="btn-group">
                                                <a href="/products_05/<%= product._id %>" class="btn btn-outline-primary mx-1">Details</a>
                                                <% if (isAuthenticated) { %> 
                                                    <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                                <% } %>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <h5>No Products Found!</h5>
                    <% } %>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>